     .human-message {
       display : flex;
       justify-content: flex-end;
       align-items: start;
      }
      .robot-message {
        display : flex;
        justify-content: flex-start;
        align-items: start;
      }
      .message-content {
       
        padding: 15px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        background-color: #f1f0f0;
        max-width: 300px;
        align-items: center;
        
      }
      .pics {
        width:  45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgb(178, 102, 174);
        object-fit: cover;
      }
      .chat-message-time {
        font-size: 9px;
        color: rgb(125, 125, 125);
        margin-top: 5px;
      }